.date-time-wrap{
    margin: 0;
    transition: 0.5s ease-in-out;
}

.time{
    font-weight:300 ;
    font-size: clamp(1.2rem, 2.4vw, 2rem);
    margin:2rem auto;
    color:gold;   
}

.date{
    font-weight:400 ;
    font-size: clamp(1.4rem, 2.2vw, 2.4rem);
    margin:1rem 0;
}

.date-time-wrap>.border-color{
    width: 80%;
    color:#fff;
    margin: 0px auto;
}

.date-time-wrap>.summery-item{
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width:80%;
}

.date-time-wrap > .summery-item-text{
   font-weight: bold;
   font-size: clamp(0.9rem, 1.4vw, 1.8rem);
}

.date-time-wrap > .summery-item-temp{
    font-size: clamp(0.8rem,1.2vw,1.5rem);
}

.diff-imag{
    margin:0 ;
    padding:0;
    margin-top:-8px;
}

.choose-button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color:#fff;
    font-size: clamp(1.3rem, 2.3vw, 2.4rem);
    margin:15px auto;
}

.choose-button:hover{
    color: gold;
}


/**************************************************/

.clocKk {
    width: 150px;
    height: 150px;
    background: #fff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
    background-size: 88%;
    border-radius: 50%;
    border: 2px solid gold;
    margin: 2rem auto;
  }
  
 .clocKk:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 3%;
    z-index: 10;
  }
  
  .handContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .secondHand {
    width: 1%;
    height: 45%;
    background: gold;
    position: absolute;
    left: 49.5%;
    z-index: 8;
    transform-origin: 50% 80%;
    top: 14%;
    outline: 1px solid transparent;
  }
  
  .minuteHand {
    width: 2%;
    height: 40%;
    background: #000;
    position: absolute;
    left: 49%;
    top: 10%;
    transform-origin: 50% 100%;
    outline: 1px solid transparent;
  }
  
.hourHand {
    width: 2.5%;
    height: 20%;
    background: #000;
    position: absolute;
    left: 48.75%;
    top: 30%;
    transform-origin: 50% 100%;
    backface-visibility: hidden;
    outline: 1px solid transparent;
  }
  
  @media screen and (max-width: 800px) {
    .date-time-wrap{
        margin: 2rem 0;
    }
  }




